@use 'base/reset';
@use 'base/typography';
@use 'base/elements';
@use 'abstracts/variables' as *;

.l-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:$med-sp;
    background-color:$bgc-color;
    border-bottom: 1px solid $border-color;
}

.l-header__logo {
    width: 204px;
}

.l-header__nav {
    list-style: none;
}

.l-header__nav li {
    display: flex;
}

.l-header__nav a{
    text-decoration: none;
    color:$st-color;
    font-size:$p-size;
    padding-left: $large-sp;
}

.l-header__nav a:hover {
    font-weight: 700;
    text-decoration:underline;
}

.btn--secondary {
    border: 2px solid $pt-color;
    border-radius: $r-small;
    padding: $small-sp;
}

.btn--primary {
    background-color: $prim-color;
    padding: $small-sp;
    color: $bgc-color;
    border: none;
    border-radius: $r-small;
}

.page-intro {
    padding: $large-sp;
    background-color: $alt-color;
}

.page-intro__breadcrumb {
    color: $st-color;
    font-size: $p-small;
}

.page-intro h1{
    color: $pt-color;
    font-size: $prim-size;
}

.page-intro__description {
    
}