body{
    font-family: 'Inter', sans-serif;
}

h1{
    font-size: 56px;
    font-weight: 800;
    gap: 64px;
}

h2{
    font-size: 40px;
    font-weight: 700;
    gap: 48px;
}

h3{
    font-size: 28px;
    font-weight: 700;
    gap: 36px;
}

h4{
    font-size: 20px;
    font-weight: 400;
    gap: 32px;
}

p{
    font-size: 16px;
    font-weight: 400;
    gap: 26px;
}

small{
    font-size: 14px;
    font-weight: 400;
    gap: 26px;
}